.header h1 {
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
    margin: 30px 0px 10px;
    font-size: 50px;
}

.header h2 {
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
    font-size: 40px;
   margin-top: 0px;

}